<section>
  <div class="d-flex justify-content-center">
    <ng-container *ngFor="let item of stepsArray">
      <div class="d-flex align-items-center">
        <span
          class="step text-center border border-2 bg-white rounded-circle"
          [ngClass]="{
            'border-primary': item <= currentStep,
            'bg-gray': !(item <= currentStep)
          }"
          >{{ item }}</span
        >
        <div
          class="step-line"
          *ngIf="item !== stepsArray.length"
          [ngClass]="{
            'bg-primary': item + 1 <= currentStep,
            'bg-gray': !(item + 1 <= currentStep)
          }"
        ></div>
      </div>
    </ng-container>
  </div>
  <div class="d-flex container my-4 justify-content-center">
    <button
      [disabled]="currentStep === 1"
      class="btn btn-primary mx-4"
      (click)="prevStep()"
    >
      Back
    </button>
    <button
      [disabled]="currentStep === stepsArray.length"
      class="btn btn-primary"
      (click)="nextStep()"
    >
      Next
    </button>
  </div>
</section>
