<div class="container text-center">
  <h1>50 PROJECTS 50 DAYS</h1>
  <div class="row">
    <ng-container *ngFor="let project of projects">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="project-card">
          <img src="https://via.placeholder.com/300" alt="Project Image" />
          <h4>{{ project.name }}</h4>
          <button class="btn btn-primary" [routerLink]="project.path">
            Live demo
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
